.navbar-section {
}

.navbar-header,
.navbar,
.nav-links,
.navlink,
.logo {
  /* border: 1px solid white; */
  background-color: white;
  color: black;
}
.logo {
  /* padding: 25px; */
  /* margin-top: 2em; */
}

.navbar-header {
  padding: 5vh 4vw;
  display: flex;
  flex-direction: column;
  /* padding-left: 2em; */
  /* width: 100vw; */
}
.navbar {
  display: flex;
  justify-content: end;
}
.nav-links {
  display: flex;

  /* justify-content: space-between; */
  /* align-items: center; */
  padding-left: 0;
  gap: 1rem;
  /* width: 100%; */
}

.navlink {
  list-style-type: none;
  padding: 2px 8px;

  /* border: 1px solid black; */
  background-color: rgb(253, 224, 4);
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
}
.navlink:hover {
  background-color: grey;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav-links {
    gap: 5px;
    /* width: 100%; */
  }
  .navbar-header {
    padding: 2vh 1vw;
  }
}

@media (max-width: 600px) {
  .nav-links {
    gap: 5px;

    flex-direction: column;
  }
}
