.news-section-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */

  padding: 1rem;
  /* height: 400px; */
  width: 400px;
  height: 600px;
  flex: 0 0 30%;

  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  color: black;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.newscomponent-img-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.newscomponent-img {
  max-width: 100%;

  /* border: 1px solid black; */

  height: 300px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.newscomponent-link:hover {
  /* filter: contrast(1.2); */
  /* filter: brightness(1.2); */
  opacity: 0.8;
}

.newscomponent-button {
  width: 100px;
  background-color: rgb(253, 224, 4);
  color: black;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.news-large-container {
  display: flex;
  color: black;

  /* padding: 1em;
  margin: 5px; */
}

.news-image-container {
  width: 50%;
}
.news-text-container {
  /* border: 1px solid black; */
  width: 40%;
  padding: 1em;
  flex-grow: 1;
}

@media (max-width: 870px) {
  .news-section-container {
    flex: 0 0 40%; /* 2 per rad */
  }
}

@media (max-width: 560px) {
  .news-section-container {
    flex: 0 0 90%; /* 2 per rad */
  }
}
